
<style>
        input[type=text], select {
          width: 100%;
          padding: 12px 12px;
          margin: 8px 0;
          display: inline-block;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
        }
        
        input[type=submit] {
          width: 100%;
          background-color: #4CAF50;
          color: white;
          padding: 14px 20px;
          margin: 8px 0;
          border: none;
          border-radius: 4px;
          cursor: pointer;
        }
        input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>


<form action="#" name="userInfo"> 
    <div class="form-group">
        <label for="peanut">Peanut allergy?</label>
        <select id="Peanut" name="Peanut">
            <option value="Yes">Yes</option>
            <option value="No">No</option>
        </select>
    </div>

    <div class="form-group">
        <label for="Age">Age</label>
        <input type="text" id="Age" name="Age" placeholder="Age">
    </div>

    <div class="form-group">
        <label for="weight">Weight</label>
        <input type="text" id="Weight" name="weight" placeholder="weight">
    </div>
    
    <div class="form-group">
        <label for="height">Height</label>
        <input type="text" id="Height" name="height" placeholder="height">
    </div>
    
    <div class="form-group">
      <label for="diet">Diet Type</label>
      <select id="Diet_type" name="Diet Type">
        <option value="Fegetarian">Vegetarian</option>
        <option value="Gluten Free">Gluten Free</option>
        <option value="None">None</option>
      </select>
    </div>
      <input id="btn-submit" type="submit" value="Submit">

    </form>
  </div>

<script src="submission.js"></script>
    
